{# src/SHUFLER/ShuflerBundle/Resources/views/Home/index.html.twig #}

{% extends "SHUFLERShuflerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} View{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}
	
{% block body %}
	<div class="row">
		<section class="col-sm-12 col-md-12" style="background-color: white;">
			<table id="table">
			{% for album in albums %}
				<tr>
					<td>{{ album.id }}</td>
					<td class="nom">{{ album.auteur ~ ' ' ~ album.name}}</td>
				</tr>
			{% endfor %}	
			</table>
		</section>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}