{# src/SHUFLER/ShuflerBundle/Resources/views/Home/index.html.twig #}

{% extends "SHUFLERShuflerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Music - Albums{% endblock %}

{% block stylesheets %}
  {{ parent() }}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<style>
		.container{
			background-color:white;
		}
		.modal-subcontent, .modal-subcontent2, .modal-subcontent3 {
			background-color: white;
		}
	</style>
{% endblock %}

{% block body %}
  <div class="row">
    <table id="container-tracks" class="display">
	    <thead>
			<tr>
				{% for column in columns_dt %}
					<th>{{ column }}</th>
				{% endfor %}
             </tr>
        </thead>
    </table>
  </div>
  <div class="modal fade" id="musicModal" tabindex="-1" role="dialog" aria-labelledby="musicModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="musicModalLabel"></h4>
			</div>
			<div class="modal-subcontent col col-md-6 col-sm-6"></div>
			<div class="modal-subcontent2 col col-md-6 col-sm-6"></div>
			<div class="modal-subcontent3 col col-md-12 col-sm-12"></div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  {% endblock %}
  
  {% block javascripts %}
    {{ parent() }}
	  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	  <script>
	  $(document).ready( function () {
		$('#container-tracks').DataTable({
			processing: true,
			serverSide: true,
			select: true,
			ajax: "{{ path('shufler_music_albums_source') }}",
            sAjaxDataProp: "data",
			lengthMenu: [[50, 100, 250, 500], [50, 100, 250, 500]],
            pageLength: 50,
            columns:[
				{% for column in columns_db %}
				{"data": "{{ column }}"},
				{% endfor %}
			],
			columnsDefs:[
				{% for column in columns_db %}
				{"width":"10px"},
				{% endfor %}
			]
		});
		
	  });
      
	  $(document).on("click", ".album_tracks", function(e){
		$('.modal-subcontent').html("");
		$('.modal-subcontent2').html("");
		var artiste = $(this).data('artiste');
		var album = $(this).data('album');
		$('#musicModal > div > div > .modal-header h4').html(artiste + "-" + album);
		$.ajax({
			url: "{{ path('shufler_music_tracks_by_album') }}",
			type: "GET",
			data: "artiste=" + artiste + "&album=" + album,
			dataType : 'json',
			success : function(response, statut){
				var track_list = "<ul>";
				response.data.forEach(function(element){
					track_list += "<li>" + element.numero + " - <strong>" + element.titre + "</strong>";
					if(element.auteur != artiste) {
						track_list += " (" + element.auteur + ")";
					}
					track_list += "</li>";
				});
				track_list += "</ul>";
				$('.modal-subcontent').html(track_list);
			},
		});
		$.ajax({
			url: "http://ws.audioscrobbler.com/2.0/?method=album.getinfo&api_key=10fb79b666c60393833efb96b601bb73&format=json",
			type: "GET",
			data: "artist=" + artiste + "&album=" + album,
			dataType : 'json',
			success : function(response, statut){
				console.log(response);
				var image = '<img src="' + response.album.image[5]["#text"] + '" />';
				
				$('.modal-subcontent2').html(image);
			},
		});
		$.ajax({
			url: "http://ws.audioscrobbler.com/2.0/?method=artist.getinfo&api_key=10fb79b666c60393833efb96b601bb73&format=json",
			type: "GET",
			data: "artist=" + artiste,
			dataType : 'json',
			success : function(response, statut){
				console.log(response);
				var image = '<img src="' + response.artist.image[5]["#text"] + '" />';
				var text = "<p>" + response.artist.bio.content + "</p>";
				
				$('.modal-subcontent3').html(image + text);
			},
		});
		e.preventDefault();
	  });
	  
	  </script>
{% endblock %}