{# src/SHUFLER/ShuflerBundle/Resources/views/Home/index.html.twig #}

{% extends "SHUFLERShuflerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Vidéos{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/shuflershufler/css/jquery.magnific-popup.css') }}">
	<style>
		.well .row{
			float:right;margin-top:-40px;
		}
	</style>
{% endblock %}

{% block body %}
	{% if search is defined %}
	<div class="well">Recherche: <strong>{{ search }}</strong><br/><span class="badge">{{ videos_count }} vids</span>
		{% include "SHUFLERShuflerBundle:Video:pagination.html.twig" %}	
	</div>
	{% else %}
		{% if  app.request.attributes.get("_route")=='shufler_viewByCategorie' %}
			<h1>{{ pagination.route_params.categorie|categorieDisplay|trans }}</h1>
		{% elseif  app.request.attributes.get("_route")=='shufler_viewByPeriode' %}
			<h1>{{ pagination.route_params.periode }}</h1>
		{% endif %}
	{% endif %}

	<div class="row">
		<section class="col-sm-12 col-md-12" style="margin-top:10px;">
		{% for video in videos %}
			<div class="col-sm-6 col-md-3" style="">
				<div class="media topcol embed-responsive-16by9" style="margin-bottom:30px;">
					<div class="categorie">
					{% if app.request.attributes.get("_route")!='shufler_viewByCategorie' %}
						{{ video.categorie|categorieDisplay }}
					{% else %}
						{% if pagination.route_params.categorie==2 %}
							{{ video.genre|genreDisplay }}
						{% endif %}
					{% endif %}
					</div>
					{% include("SHUFLERShuflerBundle:Video:video_inc.html.twig") %}
				</div>	
			</div>
		{% endfor %}
		</section>
	</div>
	
{% include "SHUFLERShuflerBundle:Video:pagination.html.twig" %}

{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/shuflershufler/js/jquery.magnific-popup.js') }}"></script> 		
	<script type="text/javascript" src="{{ asset('bundles/shuflershufler/js/main.js') }}"></script> 
{% endblock %}	