<a class="lienvideo" href="{{ video.lien|popUp }}" data-toggle="tooltip" data-original-title="{{ video.chapo|raw }}" onclick="return false;">
	{{  video.lien|convertFrame|raw }}
	<div class="media-body">
	{% if is_granted('ROLE_AUTEUR') %}
		<div class="link_edit"><a href="{{ path('shufler_video_edit',{'id':video.id}) }}"><span class="glyphicon glyphicon-edit"></span></a></div> 
	{% endif %}
		<h3 class="media-heading">{{  video.titre }}</h3>
		{{  video.auteur }} <span class="annee_small">{{  video.annee|yearDisplay }}</span>
	</div>
</a>