{# src/SHUFLER/ShuflerBundle/Resources/views/Home/index.html.twig #}

{% extends "SHUFLERShuflerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Vidéos{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/shuflershufler/css/video.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/shuflershufler/css/jquery.magnific-popup.css') }}">
{% endblock %}

{% block body %}
	<div class="row">
		<section class="col-sm-12 col-md-12" style="margin-top:10px;">
			<div class="col-sm-6 col-md-3">
				{% if search is defined %}
					<h1>{% if videos_count >0 %}Trouvé{% else %}Désolé{% endif %}</h1>
					<div class="page_videos_sous_titre">{{ search }}<br/><span class="badge">{{ videos_count }} vids</span></div>
				{% elseif trash is defined %}
					<h1>Trash <span class="glyphicon glyphicon-trash"></h1>
				{% else %}
					<h1>{{ pagination.route_params.categorie|categorieDisplay|trans }}</h1>
					<div class="row">
						<div class="col col-xs-12 col-sm-6">
								<span class="dropdown">
									<a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down"></span> Choose a Category</a>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									{% for index, value in categories %}
										<li><a class="dropdown-item" href="{{ path('shufler_videos', {'categorie' : index , 'genre' : pagination.route_params.genre, 'periode' : pagination.route_params.periode}) }}">{{ value }}{% if index == pagination.route_params.categorie %}&nbsp;<span class="glyphicon glyphicon-ok"></span>{% endif %}</a></li>
									{% endfor %}
									</ul>
								</span><br/>
								{% if  pagination.route_params.categorie == 2 %}
									<span class="dropdown">
										<a href="" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down"></span> Choose a Style</a>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										{% for index, value in genres %}
											<li><a class="dropdown-item" href="{{ path('shufler_videos', {'categorie' : pagination.route_params.categorie, 'genre' : index, 'periode' : pagination.route_params.periode}) }}">{{ value }}{% if index == pagination.route_params.genre %}&nbsp;<span class="glyphicon glyphicon-ok"></span>{% endif %}</a></li>
										{% endfor %}
										</ul>
									</span><br/>
								{% endif %}
								<span class="dropdown">
									<a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down"></span> Choose a Period</a>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									{% for index, value in periodes %}
										<li><a class="dropdown-item" href="{{ path('shufler_videos', {'categorie' : pagination.route_params.categorie, 'genre' : pagination.route_params.genre, 'periode' : index}) }}">{{ value }}{% if index == pagination.route_params.periode %}&nbsp;<span class="glyphicon glyphicon-ok"></span>{% endif %}</a></li>
									{% endfor %}
									</ul>
								</span><br/><br/>				
								<a href="{{ path('shufler_couch', {'categorie' : pagination.route_params.categorie, 'genre' : pagination.route_params.genre, 'periode' : pagination.route_params.periode}) }}"><span class="glyphicon glyphicon-unchecked"></span> Go to Couch' Mode</a>
							</div>
						<div class="col col-xs-12 col-sm-6">
							{% if  pagination.route_params.genre != 0 %}	
								<div class="page_videos_genre">{{ pagination.route_params.genre|genreDisplay|trans }}</div>
							{% endif %}
							{% if pagination.route_params.periode != 0 %}
								<div class="page_videos_periode">{{ pagination.route_params.periode }}</div>
							{% endif %}						
						</div>
					</div>
				{% endif %}
			</div>
		{% for video in videos %}
			<div class="col-sm-6 col-md-3" style="">
				<div class="media topcol embed-responsive-16by9" style="margin-bottom:30px;">
					<div class="categorie">
					{% if search is not defined and trash is not defined %}
						{% if pagination.route_params.categorie == 0 %}
						<a href = "{{ path('shufler_videos', {'categorie' : video.categorie, 'genre' : pagination.route_params.categorie}) }}">{{ video.categorie|categorieDisplay }}
						{% endif %}
						{% if pagination.route_params.categorie == 2 and pagination.route_params.genre == 0 %}
							<a href = "{{ path('shufler_videos', {'categorie' : pagination.route_params.categorie, 'genre' : video.genre}) }}">{{ video.genre|genreDisplay }}</a>
						{% endif %}
					{% endif %}
					</div>
					{% include("SHUFLERShuflerBundle:Video:video_inc.html.twig") %}
				</div>	
			</div>
		{% endfor %}
		</section>
	</div>
	
{% include "SHUFLERShuflerBundle:Video:pagination.html.twig" %}

{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/shuflershufler/js/jquery.magnific-popup.js') }}"></script> 		
	<script type="text/javascript" src="{{ asset('bundles/shuflershufler/js/main.js') }}"></script>
{% endblock %}	