{% block fos_user_content %}

<form action="{{ path("fos_user_change_password") }}" method="post">
<div class="row">
	<span class="error">{{ form_errors(form.current_password) }}</span>
	{{ form_label(form.current_password, 'form.current_password', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	<div class="col-sm-6 col-md-6">
		{{ form_widget(form.current_password, {'attr': {'class': 'form-control' , 'placeholder': 'form.current_password'}}) }}
	</div>
</div>
<div class="row">
	<span class="error">{{ form_errors(form.plainPassword.first) }}</span>
	{{ form_label(form.plainPassword.first, 'form.plainPassword.first', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	<div class="col-sm-6 col-md-6">
		{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control' , 'placeholder': 'form.plainPassword.first'}}) }}
	</div>
</div>
<div class="row">
	<span class="error">{{ form_errors(form.plainPassword.second) }}</span>
	{{ form_label(form.plainPassword.second, 'form.plainPassword.second', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	<div class="col-sm-6 col-md-6">
		{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control' , 'placeholder': 'form.plainPassword.second'}}) }}
	</div>
</div>
<div class="submit">
	<input id="change_password_submit" class= "btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
</div>

{{ form_end(form) }}
{% endblock fos_user_content %}
