{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="form-group">
		<div class="row">	
			<label class="control-label col-sm-6" for="username">{{ 'security.login.username'|trans }}</label>
			<div class="col-md-6">
				<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Login" required="required" />
			</div>
		</div>
		<div class="row">
	    	<label class="control-label col-sm-6" for="password">{{ 'security.login.password'|trans }}</label>
		    <div class="col-md-6">	
		    	<input type="password" id="password" name="_password" placeholder="Pwd" required="required" />
			</div>
		</div>
		<div class="submit">
				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label><br/>
		    <input type="submit" id="login_submit" name="_submit" class= "btn btn-primary" value="{{ 'security.login.submit'|trans }}" />
		</div> 
	</div>
</form>
{% endblock fos_user_content %}
