<div class="info col-md-12">
	<small class="date">{{ info.pubDate|dateFlux }}</small>
	<h2><a href="{{ info.link }}" target="_blank" >{{ info.title|raw }}</a></h2>
	{% if info.enclosure.attributes.url is defined %}
		<audio controls>
			<source src="{{ info.enclosure.attributes.url }}">
			Votre navigateur ne gère pas l'élément <code>audio</code>.
		</audio>
	{% endif %}
	{% if info.description is defined %}
		<p>{{ info.description|raw }}</p>
	{% endif %}
</div>