
{% extends "SHUFLERShuflerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Flux RSS{% endblock %}

{% block stylesheets %}
	{{  parent() }}
	<style>
		.bande-flux{
			background-color:rgba(0,0,0,0.6);
		}
	
		.info{
			background-color:rgba(255,255,255,0.4);
			margin:5px 0px;
		}
		
		.info h2{
			font-size:140%;
			font-weight:bold;
		}
		
		.info a{
			color:black;
		}
		
		.flux-summary a{
			color:white;
		}
		
		.info a:hover, .flux-summary a:hover{
			text-decoration: underline;
		}
		
		.titre img{
			display:block;
			text-align:center;
			margin:8px auto;
		}
		
		.flux-summary{
			color:white;
		}
		
		.btn-toggle span{
			-webkit-transition: all 1s ease; /* Safari and Chrome */
  	 		-moz-transition: all 1s ease; /* Firefox */
    		-o-transition: all 1s ease; /* IE 9 */
			-ms-transition: all 1s ease; /* Opera */
			transition: all 1s ease;
		}
		
	</style>
{% endblock %}


{% block body %}
	<h1>Quoi de neuf dans le Monde?</h1>
	
		{% for key,flux in infos %}			
		
			{%  if  key == 'Liberation' %}
		<div class="bande-flux col col-sm-6 col-md-4">
			<div class="titre">
				{% if flux.pic is defined %}
					<img src="{{  asset(flux.pic) }}" height=100px />
				{% endif %}
				<a class="btn-toggle" href="#" onclick="return false;"><span class="glyphicon glyphicon-plus"></span></a>
			</div>
			<div class="flux-content" style="display:none;">
				{% for info in flux.flux|slice(0, 6) %}
				<div class="info col-md-12">
					<small class="date">{{ info.updated|dateFlux2 }}</small>
					<h2><a href="{{ info.link.0.attributes.href }}" target="_blank" >{{ info.title|raw }}</a></h2>
					{% if info.link.1.attributes.href is defined %}
						<img src="{{ info.link.1.attributes.href|imageSubs }}" width="100%"/>
					{% endif %}
					<p>{{ info.summary|raw }}</p>
				</div>
				{% endfor %}
			</div>
			<div class="flux-summary">
				<ul>
				{% for info in flux.flux|slice(0, 6) %}
					<li><strong><a href="{{ info.link.0.attributes.href }}" target="_blank" >{{ info.title|raw }}</a></strong> - <small>{{ info.updated|dateFlux2 }}</small></li>
				{% endfor %}
				</ul>
			</div>
		</div>
			{%  else %}
		
		
		<div class="bande-flux col col-sm-6 col-md-4">
			<div class="titre">
				{% if flux.pic is defined %}
				<img src="{{  asset(flux.pic) }}" height=100px />
				{% endif %}
				<a class="btn-toggle" href="#" onclick="return false;"><span class="glyphicon glyphicon-plus"></span></a>
			</div>
			<div class="flux-content" style="display:none;">
				{% for info in flux.flux|slice(0, 6) %}
				<div class="info col-md-12">
					<small class="date">{{ info.pubDate|dateFlux }}</small>
					<h2><a href="{{ info.link }}" target="_blank" >{{ info.title|raw }}</a></h2>
					{% if info.enclosure.attributes.url is defined %}
						<img src="{{ info.enclosure.attributes.url }}" width="100%"/>
					{% endif %}
					{% if info.description is defined and key !="figaro" %}
						<p>{{ info.description|raw }}</p>
					{% endif %}
				</div>
				{% endfor %}
			</div>
			<div class="flux-summary">
				<ul>
				{% for info in flux.flux|slice(0, 6) %}
					<li><strong><a href="{{ info.link }}" target="_blank" >{{ info.title|raw }}</a></strong> - <small>{{ info.pubDate|dateFlux }}</small></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		
			{% endif %}
		{% endfor %}
		
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	$('.btn-toggle').on('click',function(){
		$(this).parent().next('.flux-content').slideToggle(700,function(){
			$(this).next('.flux-summary').slideToggle(300);
			if($(this).parent().find('span:first-child').hasClass('glyphicon-minus')){
				$(this).parent().find('span:first-child').css('transform','rotate(180deg)');
				$(this).parent().find('span:first-child').removeClass('glyphicon-minus');
				$(this).parent().find('span:first-child').addClass('glyphicon-plus');
			}else{
				$(this).parent().find('span:first-child').css('transform','rotate(-180deg)');
				$(this).parent().find('span:first-child').removeClass('glyphicon-plus');
				$(this).parent().find('span:first-child').addClass('glyphicon-minus');
			}
		});
	});
	</script>
{% endblock %}