{% extends "SHUFLERShuflerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} {% trans %}flux.edit.title{% endtrans %}{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <style>
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
            background-color:white;
            z-index:9999;
        }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
        * html .ui-autocomplete {
            height: 100px;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('bundles/shuflershufler/css/bootstrap-switch.css') }}">
{% endblock %}

{% block body %}
	{% if flux.id is defined and flux.id !=0  %}
	<h1><span class="glyphicon glyphicon-edit"></span>&nbsp;{% trans %}flux.edit.title_edit{% endtrans %} {{ flux.id }}</h1>
	<span class="badge" style="float:right;">{{ flux.dateInsert|localizeddate('short', 'short') }}</span><br/>
	{% else %}
	<h1><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;{% trans %}flux.edit.title_add{% endtrans %}</h1>
	{% endif %}
	
	<div class="well">
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	{# Les erreurs générales du formulaire. #}
	{{ form_errors(form) }}

		<div class="form-group">
			{{ form_label(form.name, 'Name'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
				<div class="col-sm-6 col-md-6">
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>
			{{ form_errors(form.name) }}
		</div>
		<div class="form-group">
			{{ form_label(form.url, 'Url'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
				<div class="col-sm-5 col-md-5">
					{{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="col-sm-1 col-md-1">
					<a id="openLink" class="btn-default" href="" target="_blank" title="Edit this Channel" style="font-size:150%;padding:5px;border-radius:20px;"><span class="glyphicon glyphicon-search"></span></a>
				</div>
			{{ form_errors(form.url) }}
		</div>
		<div class="form-group">
			{{ form_label(form.type, 'Type'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
				<div class="col-sm-2 col-md-2">
					{{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
				</div>
			{{ form_errors(form.type) }}
			<div id="mood_radio" class="hidden">
				{{ form_label(form.mood, 'Mood'|trans, {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
					<div class="col-sm-3 col-md-2">
						{{ form_widget(form.mood, {'attr': {'class': 'form-control'}}) }}
					</div>
				{{ form_errors(form.mood) }}
			</div>
			<div id="category_link" class="hidden">
				{{ form_label(form.category_link, 'Category'|trans, {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
					<div class="col-sm-3 col-md-2">
						{{ form_widget(form.category_link, {'attr': {'class': 'form-control'}}) }}
					</div>
				{{ form_errors(form.category_link) }}
			</div>
		</div>
		<div id="channelFlux" class="hidden">
			<div class="form-group">
				{{ form_label(form.channel, 'Chaine'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<div class="col-xs-10 col-sm-5 col-md-5">
						{{ form_widget(form.channel, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class ="col-xs-2 col-sm-1 ol-md-1">
						<a id="channel_edit_link" data-channel="0" href="" title="Edit this Channel"><span class="glyphicon glyphicon-edit" style="font-size:150%;padding:5px;border-radius:20px;"></span></a>
					</div>
				{{ form_errors(form.channel) }}
			</div>
		</div>
		<div class="form-group hidden" id="logo">
			{{ form_label(form.image, 'Logo'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
				<div class="col-xs-6 col-sm-4 col-md-4">
					{{ form_widget(form.image) }}
				</div>
				<div class="col-xs-6 col-sm-2 col-md-2">
				{% if flux.id is defined and flux.oldImage is not null %}
					<img src="{{ asset('uploads/logos/' ~ flux.oldImage) }}" width="200px" /> <a href="{{ path('shufler_flux_deleteLogo',{'id': flux.id}) }}" onclick="return confirm('{{ 'Are You sure ?'|trans}}');" title="Delete this Logo"><span class="glyphicon glyphicon-remove-sign"></span></a>
				{% endif %}
				</div>
			{{ form_errors(form.image) }}
		</div>
	 </div>	
  	 {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label':'Save'|trans}) }}
	 {{ form_end(form) }}
	 {% if flux.id is defined and flux.id !=0 %}
		<a class="btn btn-danger" href="{{ path('shufler_flux_delete',{'id':flux.id}) }}" onclick="return confirm('{{ 'Are You sure ?'|trans}}');"><span class="glyphicon glyphicon-remove-sign"></span>&nbsp;{{ 'Delete Flow'|trans }}</a>
	 {% endif %}


<!-- Modal -->
<div class="modal fade" id="channel_modal" role="dialog" aria-labelledby="channel_modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new_role-label">Edit Channel</h4>
            </div>
            <div class="modal-body"><img src="{{ asset('bundles/shuflershufler/img/loading.gif')}}" width="100%" /></div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			   <button type="button" class="btn btn-primary" id="save_channel">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->	 
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	
		// +++++++++++ ON DOC READY ++++++++++++++++++++++++++++++++++++++++++++
	
		$(function() {
			var type = $('#shufler_shuflerbundle_flux_edit_type').val();
			
			if(type == 1 ) {
				$('#logo').removeClass('hidden');
			} else if(type == 2 ) {
				$('#channelFlux').removeClass('hidden');
				if($('#shufler_shuflerbundle_flux_edit_channel').val() !== 'undefined' ) {
					displayChannelEditLink($('#shufler_shuflerbundle_flux_edit_channel').val());
				}
			} else if(type == 3) {
				$('#mood_radio').removeClass('hidden');
			} else if(type == 4 ) {
				$('#category_link').removeClass('hidden');
			}
			
			$('select[id$=shufler_shuflerbundle_flux_edit_channel]') 
				.append($('<option>', {value : 'new', text: 'Add new Channel'}))
				.on('change', function () {
					if ($( "select[id$=shufler_shuflerbundle_flux_edit_channel] option:selected").val() === 'new') {				
						$('#channel_modal').modal('show');
						displayChannelEdit(0);
					}
			});
			
		   $(window).keydown(function (event) {
				if (event.keyCode == 13 && $("#channel_modal").is(':visible')) {
					event.preventDefault();
					return false;
				}
			});		
		});
	
		// +++++++++++ EVENTS ++++++++++++++++++++++++++++
	
		$('#shufler_shuflerbundle_flux_edit_type').on('change',function() {
			var type = $('#shufler_shuflerbundle_flux_edit_type').val();
			if( type == 3) {
				$('#mood_radio').removeClass('hidden');
				$('#category_link').addClass('hidden');
				$('#logo').addClass('hidden');
				$('#channelFlux').addClass('hidden');
			} else if(type == 2) {
				$('#logo').addClass('hidden');
				$('#mood_radio').addClass('hidden');
				$('#category_link').addClass('hidden');
				$('#channelFlux').removeClass('hidden');;
			} else if(type == 4) {
				$('#mood_radio').addClass('hidden');
				$('#category_link').removeClass('hidden');
				$('#logo').addClass('hidden');
				$('#channelFlux').addClass('hidden');
			}else {
				$('#channelFlux').addClass('hidden');
				$('#mood_radio').addClass('hidden');
				$('#category_link').addClass('hidden');
				$('#logo').removeClass('hidden');
				$('#shufler_shuflerbundle_flux_edit_mood option[value=-1]').prop('selected', true);
			} 
		});
				
		$('#shufler_shuflerbundle_flux_edit_channel').on('change',function() {
			displayChannelEditLink($('#shufler_shuflerbundle_flux_edit_channel').val(), {{ flux.id }} );
		});
				
		$('#save_channel').on('click', function(e) {
			e.preventDefault();
			sendForm($('#channel_modal').find('form'), function( response, data ){
				if (typeof response == "object") {
					$('#shufler_shuflerbundle_flux_edit_channel option[value=' + response.id + ']').remove();
					$('select[id$=shufler_shuflerbundle_flux_edit_channel]')
					.prepend($('<option>', {value : response.id, text: response.name}))
					.val(response.id);
					disableModal();
					displayChannelEditLink(response.id, {{ flux.id }} );
				} else {
					$('#channel_modal').find('.modal-body').html(response);
				}
			});
		});
		
		$('#openLink').on('click', function(e) {
			var link = $('#shufler_shuflerbundle_flux_edit_url').val();
			if(link != '') {
				$(this).attr('href', 'http://' + link);
			} else {
				e.preventDefault();
			}
		});
		
		$('#channel_edit_link').on('click', function(e) {
			$('#channel_modal').modal('show');
			var key = $(this).data('channel');
			displayChannelEdit(key, {{ flux.id }} );
			e.preventDefault();
		});
		
		$('#channel_modal').on("hidden.bs.modal", function () {
			disableModal();
		});

	// +++++++++++ FUNCTIONS ++++++++++++++++++++++++++++		

	function displayChannelEditLink(key, id_flux){
		if(key != 'new') {
			$('#channel_edit_link').show();
			$('#channel_edit_link').data('channel', key);
			$('#channel_edit_link').data('flux', id_flux);
		} else {
			$('#channel_edit_link').hide();
		}
	}
	
	function displayChannelEdit(key, id_flux) {
		$.ajax({
			type    : 'get',
			url     : "{{ path('shufler_edit_channel') }}",
			dataType: 'html',
			encode	: true,
			data	: {id: key, id_flux: id_flux},
			success : function(response) {
				$('#channel_modal').find('.modal-body').html(response);
			},
			error	: function(e) {
				console.log('Erreur Channel edit');
				console.log(e);
			}
		});

		return;
	}
	
	function sendForm(form, callback) {
				
		var values = new FormData();
		$.each( form[0].elements, function(i, field) {
			values[field.name] = field.value;
		});
						
		$.ajax({
			type        : form.attr( 'method' ),
			url         : form.attr( 'action' ),
			dataType	: 'json', // what type of data do we expect back from the server
			encode		: true,
		    data		: new FormData($('form[name="shufler_shuflerbundle_channelflux_edit"]')[0]),
			processData: false,
			contentType: false,
			cache: false,
			success     : function(result) {
				callback( result );
			},
			error 		: function(e) {
				console.log('Big Problème pour enregistrer ce channel !');
				console.log(e);
			}
		});
		
		return;		
	}
	
	function disableModal() {
		$('#channel_modal').modal('hide');
		$('#channel_modal').find('.modal-body').html('<img src="{{ asset('bundles/shuflershufler/img/loading.gif')}}" width="100%" />');
		return;
	}
		
	</script>
{% endblock %}