{% extends "SHUFLERShuflerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Radios{% endblock %}

{% block stylesheets %}
	{{  parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/shuflershufler/css/flux-styl.css') }}">
{% endblock %}

{% block body %}
	<div class="selector well">
		{% for key, genre in genres %} 
			<input type="checkbox" value="{{ key }}" checked="checked"/>&nbsp;{{ genre }}&nbsp;&nbsp;
		{% endfor %}
		<a id="decoch" href="#">Tout décocher</a>&nbsp;|&nbsp;<a id="coch" href="#">Tout cocher</a>
	</div>
	{% for key in radios %}
		<div class="col col-md-6 mood{{ key.mood}}"> 
			<iframe src="{{ key.url}}" style="width:100%;height:100px;" scrolling="no" frameborder="no"></iframe>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('shufler_flux_edit',{'id':key.id}) }}" style="position:absolute;top:50%;right:50px;"><span class="glyphicon glyphicon-edit"></span></a>
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('.selector input[type="checkbox"]').change(function(){cochDecoch(this)});

		$('#decoch').click(function(){
			$('.selector input[type="checkbox"]').each(function(){
				$(this).prop('checked',false);
				cochDecoch(this);

			});
		});
		
		$('#coch').click(function(){
			$('.selector input[type="checkbox"]').each(function(){
				$(this).prop('checked','checked');
				cochDecoch(this);
			});
		});

		function cochDecoch(obj){
			if(!$(obj).is(':checked')){
				$('.mood'+$(obj).val()).hide();
			}else{
				$('.mood'+$(obj).val()).show();
			}

		}
	</script>	
{% endblock %}