
{% extends "SHUFLERShuflerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Flux RSS{% endblock %}

{% block stylesheets %}
	{{  parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/shuflershufler/css/flux-styl.css') }}">
{% endblock %}


{% block body %}
	<h1>Quoi de neuf dans le Monde?</h1>
				
		{% for key,flux in infos %}	
		<div class="bande-flux col col-sm-6 col-md-4">
			<div class="titre">
				{% if flux.pic is defined and flux.pic is not null %}
				<img src="{{  asset(flux.pic) }}" height=100px alt="{{ flux.name }}" style="max-width:100%;"/>
				{% else %}
				<h2 class="flux-titre">{{ flux.name }}</h2>
				{% endif %}
				<a class="btn-toggle" href="#" onclick="return false;"><span class="glyphicon glyphicon-plus"></span></a>
				{% if is_granted('ROLE_ADMIN') %}
				&nbsp;<a href="{{ path('shufler_flux_edit',{'id':flux.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
				{% endif %}
			</div>
			<div id="podCont{{ flux.id }}" class="flux-content" style="display:none;"></div>
			<div id="podSum{{ flux.id }}" class="flux-summary">
				<ul></ul>
			</div>
			<div id="fluxPag{{ flux.id }}" class="bloc-pages">
				<a class="fluxPaginator prev" href="#" data-id="{{ flux.id }}" data-page="" data-nbpages="" style="visibility:hidden" onclick="return false;"><span class="glyphicon glyphicon-backward"></span></a>
				&nbsp;
				<span class="noPage">1</span>/<span id="nbPages{{ flux.id }}"></span>			
				&nbsp;<a class="fluxPaginator next" href="#" data-id="{{ flux.id }}" data-page="2" data-nbpages="" onclick="return false;"><span class="glyphicon glyphicon-forward"></span></a>
				
			</div>
		</div>
		{% endfor %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/shuflershufler/js/flux.js') }}"></script>
	<script>
		$(function(){
		   var keys={{ jsonKeys }};
		   var imgLoad='<img src="{{ asset('bundles/shuflershufler/img/dribbble-menu-cards.gif') }}" width="100%" />';
				console.log('dsggsg');
			$.each(keys, function( index, value ) {
			    $('#podSum'+value).html(imgLoad);
			    getData(value, 1);
			});
		});

		$('.fluxPaginator').click(newPage);

		function getData(pod, page){
		   $.get('{{ path('shufler_rss') }}',
				  {pod: pod, page: page},
				  function(data){
					   bindData(pod,data);
		   			}
			);
		}
		
		function bindData(pod,data){
			console.log('sdggggg');
			console.log(pod);
			var obj = JSON.parse(data);
			$('#podSum' + pod).html('<ul></ul>');
			$('#podCont' + pod).html('');

			for(var i=0; i<(obj.length); i++){
				if(!obj[i]) continue;
				if(pod === 2) {

					var contentSum = '<li><strong><a href="' + obj[i].link[0].attributes.href + '" target="_blank" >' + obj[i].title + '</a></strong> - <small>' + obj[i].updated + '</small></li>';
					
					var contentCont ='<div class="info col-md-12"><small class="date">' + obj[i].updated + '</small>'
							+ '<h2><a href="' + obj[i].link.0.attributes.href + '" target="_blank" >' + obj[i].title + '</a></h2>';
					
					if(obj[i].link.1.attributes.href !== ''){
						contentCont += '<img src="' + obj[i].link.1.attributes.href +'" width="100%"/>';
					
					}
					if(obj[i].summary != null) {
						contentCont += '<p>' + info.summary + '</p>'; 
					}
					contentCont += '</div>';
				} else {
					var contentSum = '<li><strong><a href="'+ obj[i].link +'" target="_blank">' + obj[i].title + '</a></strong> - <small>' + obj[i].pubDate + '</small></li>'; 
					$('#podSum' + pod + ' ul').append(contentSum);

					var contentCont='<div class="info col-md-12"><small class="date">' + obj[i].pubDate + '</small>'
						+ '<h2><a href="' + obj[i].link + '" target="_blank" >' + obj[i].title + '</a></h2>';

					if(typeof obj[i].enclosure !== 'undefined'){
						contentCont += '<img src="' + obj[i].enclosure["@attributes"].url + '" />';
					}
					if(obj[i].description != null){
						contentCont += '<p>' + obj[i].description + '</p>';
					}
					contentCont += '</div>';				
				}
				
				$('#podCont' + pod).append(contentCont);
			}

			$('.info img').removeAttr('width');
			$('.info img').removeAttr('height');
			$('.info iframe').removeAttr('width');
			$('.info iframe').removeAttr('height');
		}			
	</script>
{% endblock %}